@import "tailwindcss";

@keyframes slowRotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes pulseScale {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.95);
    }
}

@keyframes rotate360 {
    0% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.main-rotate {
    animation: rotate360 linear infinite;
    transform-origin: center;
}

.tail-rotate {
    animation: rotate360 linear infinite;
    transform-origin: center;
}

.slow-rotate {
    animation: slowRotate 600s linear infinite;
    transform-origin: center;
}

.pulse-scale {
    animation: pulseScale 45s ease-in-out infinite;
    transform-origin: center;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}